h1 {
    background-color: yellow;
    color: black;
    font-size: 60px;
}
 div h1 {
    background-color: chartreuse;
    color: chocolate;

}

 headerstyle  { 
    background-color: aqua;
    color: red;

 }

 @media (max-width: 700px) 
 {
    h1 {
         font-size: 30px;
         background-color: burlywood;
    }
}